[Unit]
# A systemd unit for managing flask application
Description=A Flask Application

[Service]
# ExecStart: A command to start the service. It launches Gunicorn to run the Flask app
ExecStart=/home/flask-server/hello-world/venv/bin/gunicorn -b 0.0.0.0:8000 app:app

# WorkingDirectory: This is the directory where Gunicorn will start from
WorkingDirectory=/home/flask-server/hello-world	

#Restart: Define the restart behavior. Restart always ensures that the server is started automatically in case of failure.
Restart=always

[Install]
#WantedBY: it specifics the target or event that this service should be associated with when enabled
WantedBy=multi-user.target
